
            h1{
                color:yellowgreen
            }

            a{
                color: brown;
            }

            body {
                background-color: whitesmoke;
            }

            *{
                border: none;
            }
            
            p,h2{
                text-align: center;
            }

            .header{
                background-color: teal;
                display: flex;
                justify-content: space-between;
            }

            .grid{
                border: 2px solid black;
                border-radius: 50px;
            }

            .origami{
                border-radius: 20px;
                background-color: white;

                width: 310px;
                font-family: fantasy;
            }

            .footer{
                display: flex;
                justify-content: flex-end;
            }

            .bodyimg{
                color: grey;
            }
